:host {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background: cadetblue;
}

img {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  height: 6rem;
  width: 100vw;
  position: fixed;
  flex-direction: row;
  background-color: #24c5f4;
  justify-content: flex-start;
}

.navigation {
  font-family: Lato;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  background: #24c5f4;
  height: 6rem;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.navigation a:hover {
  background: #0747a6;
}

.navbar-item {
  width: 8rem;
  height: 100%;
  align-content: center;
  font-size: 1.25rem;
}

i {
  margin: 0;
}

.navbar-item:last-child {
  margin-left: auto;
}

.nav-link i {
  min-width: 2rem;
  align-content: center;
  align-items: center;
}

.nav-link {
  height: 100%;
  text-align: center;
  align-content: center;
  align-items: center;

  text-decoration: none;
  justify-content: center;
  display: flex;
}

.link-text {
  align-items: center;
  display: none;
}

.material-icons {
  margin: 0;
  font-size: 2.8125rem;
}

@media only screen and (min-width: 320px) {
  .material-icons {
    margin: 0;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .material-icons {
    margin: 0;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .material-icons {
    margin: 0;
    font-size: 5rem;
  }
  .navbar-item:hover {
    width: 15rem;
    display: flex;
    flex-direction: column;
    transition: width 250ms ease;
  }

  #navbar-item:hover #link-text {
    display: unset;
  }
}
