.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  grid-auto-rows: 50rem;
  grid-gap: 1rem;
  margin: 1rem;
}
.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5rem;
}
li {
  background-color: #def6fd;
  font-size: 0.825rem;
  margin: 0.8125rem;
  list-style: none;
  letter-spacing: 0.5rem;
}
.odd-li {
  background-color: #f4fcfe;
}
ul {
  padding-inline-start: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}
@media (min-width: 320px) {
  li {
    font-size: 0.825rem;
  }
}
@media (min-width: 768px) {
  li {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  li {
    font-size: 1.25rem;
  }
}
