<div class="flex-container">
  <div class="history-container">
    <div class="history">
      <p class="Inout">Wejścia:</p>
      <ul>
        <li
          *ngFor="let element of this.ClockInData; let odd = odd"
          [ngClass]="{ 'odd-li': odd == true }"
        >
          {{ element.date | date: "dd MMMM yyyy" | removeWhiteSpace }}
          {{ element.date + "Z" | date: "mediumTime" }}
        </li>
      </ul>
    </div>
    <div class="history">
      <p class="Inout">Wyjścia:</p>
      <ul>
        <li
          *ngFor="let element of this.ClockOutData; let odd = odd"
          [ngClass]="{ 'odd-li': odd == true }"
        >
          {{ element.date | date: "dd MMMM yyyy" | removeWhiteSpace }}
          {{ element.date + "Z" | date: "mediumTime" }}
        </li>
      </ul>
    </div>
  </div>
</div>
