<!-- <div class="balance">
    <div class="balance">1</div>
</div>
<div class="flex-container">
    <div class="flex-container">
        <button>start</button>
    </div>
    <div class="flex-container">
        <button>stop</button>
    </div>
</div> -->



<!-- 
<div class="main-overview">
    <div class="overviewcard">
      <div class="overviewcard__icon">Overview</div>
      <div class="overviewcard__info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard__icon">Overview</div>
      <div class="overviewcard__info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard__icon">Overview</div>
      <div class="overviewcard__info">Card</div>
    </div>
    <div class="overviewcard">
      <div class="overviewcard__icon">Overview</div>
      <div class="overviewcard__info">Card</div>
    </div>
  </div> -->

<div class="flex-container">
    <div class="balance">
      <div>Wykres</div>
      <div>info</div>
    </div>
</div>
 
<div class="flex-container">
    <div class="startRegistration">
      <div>Rozpocznij rejetrowanie pracy</div>
      <button>Start</button>
    </div>
    <div class="stopRegistration">
      <div>Zakończ rejetrowanie pracy</div>
     <button>Stop</button>
    </div>
  </div>
