<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<div class="flex-container">
  <div class="balance">
    <div>
      <app-donut-chart></app-donut-chart>
    </div>
    <div>
      <p id="in" *ngIf="workStatus === 1">System Rejestruje prace</p>
      <p id="out" *ngIf="workStatus === 0">System Nie Rejestruje pracy</p>
    </div>
    <div>
      <h3>Aktualny bilans</h3>
      <h4 class="balance-on-plus" *ngIf="balanceData?.hoursLeft < 0">
        + {{ balanceData.hoursLeft | makePositive }}h
        {{ balanceData.minutesLeft | makePositive }}min
      </h4>
      <h4 class="balance-on-minus" *ngIf="balanceData?.hoursLeft > 0">
        - {{ balanceData.hoursLeft }}h {{ balanceData.minutesLeft }}min
      </h4>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="information">
    <div class="start-registration">
      <div>Rozpocznij rejetrowanie pracy</div>
      <button (click)="clockIn()" class="clock-in-button">
        <i class="material-icons">access_time</i>
      </button>
    </div>
    <p
      *ngIf="
        responseStatusClockIn !== 200 && responseStatusClockIn !== undefined
      "
    >
      Wystąpił błąd Error: {{ responseStatusClockIn }} nie udało się
      zarejestrować wejścia do pracy
    </p>

    <p *ngIf="responseStatusClockIn === 200">
      Zarejestrowano wejście o {{ clockInDateFromApi | date: "shortTime" }}
    </p>
  </div>
  <div class="information">
    <div class="stop-registration">
      <div>Zakończ rejetrowanie pracy</div>
      <button (click)="clockOut()" class="clock-out-button">
        <i class="material-icons">access_time</i>
      </button>
      <div>
        <p
          *ngIf="
            responseStatusClockOut !== 200 &&
            responseStatusClockOut !== undefined
          "
        >
          Wystąpił błąd Error: {{ responseStatusClockIn }} nie udało się
          zarejestrować wyjścia z pracy
        </p>

        <p *ngIf="responseStatusClockOut === 200">
          Zarejestrowano wyjście o {{ clockOutDateFromApi | date: "shortTime" }}
        </p>
      </div>
    </div>
  </div>
</div>
