<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>

<div class="flex-container">
  <div class="balance">
    <div>
      <app-donut-chart></app-donut-chart>
    </div>
    <div>
      <p>Godziny Przepracowane: {{ balanceData.hoursWorked }}</p>
      <p>Minuty Przepracowane:{{ balanceData.minutesWorked }}</p>
      <p>Godziny Do Przepracowania:{{ balanceData.hoursLeft }}</p>
      <p>Minuty Do Przepracowania:{{ balanceData.minutesLeft }}</p>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="start-registration">
    <div>Rozpocznij rejetrowanie pracy</div>
    <button (click)="clockIn()" class="clock-in-button">
      <i class="material-icons">access_time</i>
    </button>

    <p
      *ngIf="
        responseStatusClockIn !== 200 && responseStatusClockIn !== undefined
      "
    >
      Wystąpił błąd Error: {{ responseStatusClockIn }} nie udało się
      zarejestrować wejścia do pracy
    </p>

    <p *ngIf="responseStatusClockIn === 200">
      {{ clockInInformation }}
    </p>
  </div>

  <div class="stop-registration">
    <div>Zakończ rejetrowanie pracy</div>
    <button (click)="clockOut()" class="clock-out-button">
      <i class="material-icons">access_time</i>
    </button>
    <p
      *ngIf="
        responseStatusClockOut !== 200 && responseStatusClockOut !== undefined
      "
    >
      Wystąpił błąd Error: {{ responseStatusClockIn }} nie udało się
      zarejestrować wyjścia z pracy
    </p>

    <p *ngIf="responseStatusClockOut === 200">
      {{ clockOutInformation }}
    </p>
  </div>
</div>
